@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Open+Sans&family=Roboto:wght@400;500;700;900&family=Yellowtail&display=swap');
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --spacing: 1px;
  --light-shadow: rgba(0, 0, 0, 0.1);
  --dark-shadow: rgba(0, 0, 0, 0.2);
  --border: 0.5rem;
  --transition: all 0.3s linear;
  --max-width: 1170px;
  --font-f1: 'Roboto', sans-serif;
  --font-f2: 'Yellowtail', sans-serif;
}
.light-theme {
  --primary1: #0ea5e9;
  --primary2: #0284c7;
  --primary3: #0369a1;
  --primary4: #075985;
  --primary5: #0c4a6e;
  --primary6: #0891b2;
  --primary7: #0e7490;
  --primary8: #155e75;
  --primary9: #155e75;
  --primary10: #155e75;
  --grey1: #f3f4f6;
  --grey2: #e5e7eb;
  --grey3: #d1d5db;
  --grey4: #9ca3af;
  --grey5: #71717a;
  --grey-text: #334155;
  --white: #fff;
  --black: #222;

  --color1: #274c5b;
  --color2: #0c4a6e;
  --color3: #0891b2;
  --color4: #d4d4d4;
  --color5: #f9f8f8;
  --color6: #525c60;
  --color7: #9ca3af;
  --color-icon: black;
  --background-btn: #0891b2;
  --color-hover: #0891b2;
  --color-grey-text: #334155;
  --background: #fff;
  --background-color2: #9ca3af;
  --background-nav: #f9f8f8;
  --transparent: transparent;
  --text-article: #0c4a6e;
}
.dark-theme {
  --white: black;
  --background: #274c5b;
  --grey-text: white;
  --primary5: #0891b2;
  --color1: white;
  --color3: #0891b2;
  --color4: transparent;
  --color5: #f9f8f8;
  --color-grey-text: white;
  --color-hover: #0891b2;
  --color-icon: white;
  --background-nav: black;
  --transparent: #fff;
  --text-article: #0c4a6e;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  font-family: 'Open Sans';
  color: var(--color1);
}
img:not(.nav-logo) {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h5 {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 3rem;
  font-family: var(--font-f2);
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
  font-family: var(--font-f2);
  color: var(--color2);
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  font-family: 'Open Sans';
  color: var(--color-grey-text);
}
body {
  font-family: var(--font-f1);
  color: var(--color-grey-text);
  background: var(--background);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
.btn {
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 600;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--transparent);
  cursor: pointer;
  box-shadow: var(--light-shadow);
  border-radius: var(--border);
  color: var(--primary5);
  background: var(--background-btn);
  text-transform: capitalize;
}
.btn:hover {
  background: var(--primary7);
}
.trans-btn {
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 600;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: var(--light-shadow);
  border-radius: var(--border);
  color: var(--primary5);
  background: transparent;
  text-transform: capitalize;
}
.btn:hover {
  background: var(--primary7);
}
@media screen and (min-width: 768px) {
  .toggle-btn {
    display: none;
  }
}
/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 90vw;
  }
}

.nav-logo {
  height: 40px;
}
.cart-modal {
  transform: translateX(100%);
  height: 100vh;
  width: 100vw;
  max-width: 500px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  transition: var(--transition);
  background: var(--color5);
  padding: 1rem 1rem;
  border-radius: 1rem;
}
.sidebar-cart {
  transform: translateX(0);
}
.select {
  background: var(--color5);
  border: none;
  padding: 0.375rem 0.5rem;
}
.search-input {
  padding: 0.7rem 0.75rem;
  border-radius: var(--border);
  border: none;
  background: var(--color5);
}

.sidebar {
  position: fixed;
  overflow: hidden;
  transition: var(--transition);
  left: 0;
  height: 0;
  width: 0;
  background: white;
  padding: 2rem 0;
}
.show-sidebar {
  width: 100vw;
  height: 100vh;
}
